<!-- toolbar-->
<div class="toolbar" role="banner">
  <img
    height="90"
    alt="Logo UCB"
    src="../assets/LogoH2.png"
  />
</div>
<!-- body -->
<div class="content" role="main">

  <!-- Foto -->
  <div class="flexbox2-container">
    <div class="igna_pic" >
      <img class='resize_fit_center'
           src="../assets/ignacio.JPG" alt="Foto Ignacio Rios">
    </div>
    <div class="igna_data" >
      <h2>Jose Ignacio Rios Villanueva</h2>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eaque eos, esse ex optio possimus quia reprehenderit suscipit? Culpa dignissimos inventore magni maiores nulla quidem recusandae suscipit? Aliquam, rem sed.</p>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos doloribus ea eos, eum hic illum impedit iste, maiores minus numquam, quam quod unde. Ad architecto at dolorem iure quod unde!</p>
    </div>
  </div>

  <!-- Skills -->
  <h2>Habilidades</h2>
  <div class="flexbox2-container">
    <div class="flexbox2-container">
      <div class="card" >
        <app-html [HtmlComp]="'Input HTML'"></app-html>
      </div>
      <div class="card">
        <app-css [CssComp]="'Input CSS'"></app-css>
      </div>
    </div>
    <div class="flexbox2-container">
      <div class="card">
        <app-js [JsComp]="'Input JS'"></app-js>
      </div>
      <div class="card">
        <app-angular [AngularComp]="'Input Angular'"></app-angular>
      </div>
    </div>
  </div>


</div>



